In [1]:
import pickle
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

C:\Users\legion\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
dataset = pd.read_csv('train.csv', encoding='latin-1')
dataset = dataset.rename(columns=lambda x: x.strip().lower())
dataset.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:

dataset = dataset[['pclass', 'sex', 'age', 'sibsp',
                   'parch', 'fare', 'embarked', 'survived']]
dataset['sex'] = dataset['sex'].map({'male': 0, 'female': 1})
dataset['age'] = pd.to_numeric(dataset['age'], errors='coerce')
dataset['age'] = dataset['age'].fillna(np.mean(dataset['age']))

In [4]:
dataset.head()

   pclass  sex   age  sibsp  parch     fare embarked  survived
0       3    0  22.0      1      0   7.2500        S         0
1       1    1  38.0      1      0  71.2833        C         1
2       3    1  26.0      0      0   7.9250        S         1
3       1    1  35.0      1      0  53.1000        S         1
4       3    0  35.0      0      0   8.0500        S         0

In [5]:
embarked_dummies = pd.get_dummies(dataset['embarked'])
dataset = pd.concat([dataset, embarked_dummies], axis=1)
dataset = dataset.drop(['embarked'], axis=1)

In [6]:
dataset.head()

   pclass  sex   age  sibsp  parch     fare  survived      C      Q      S
0       3    0  22.0      1      0   7.2500         0  False  False   True
1       1    1  38.0      1      0  71.2833         1   True  False  False
2       3    1  26.0      0      0   7.9250         1  False  False   True
3       1    1  35.0      1      0  53.1000         1  False  False   True
4       3    0  35.0      0      0   8.0500         0  False  False   True

In [7]:
X = dataset.drop(['survived'], axis=1)
y = dataset['survived']

In [8]:
scaler.clip = False  # add this line

NameError: name 'scaler' is not defined

In [9]:
sc = MinMaxScaler(feature_range=(0, 1))
X_scaled = sc.fit_transform(X)

In [10]:
log_model = LogisticRegression(C=1)
log_model.fit(X_scaled, y)

LogisticRegression(C=1)

In [9]:
scaler = joblib.load('scaler')

NameError: name 'joblib' is not defined

In [ ]:
scaler.clip = False  # add this line

In [20]:
pickle.dump(log_model, open("ml_model.sav", "wb"))
pickle.dump(sc, open("scaler.sav", "wb"))